.mystyle
{
    background-color:skyblue;
    color:red;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    border: 500px;
    padding-bottom: 50px;
    text-shadow: 100px;
    
}